.header {
	background-color: #55ACEE;
	box-shadow: 0 2px 2px #AAA;
	color: #FFF;
	display: flex;
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	height: 60px;
	justify-content: space-between;
	letter-spacing: 1px;
	line-height: 60px;
	margin: 0;
	width: 100%;
}

.header-group-left {
	margin-left: 1em;
	text-align: left;
}

.header-group-right {
	margin-right: 1em;
	text-align: right;
}

.header-link {
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	margin: 0 1em;
	text-decoration: none;
}